.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  height: 380px;
  max-height: 380px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card-header {
  background-color: #19585a;
  color: white;
  padding: 10px;
  font-size: 40px;
  height: 360px;
  max-height: 360px;
}
.card-container {
  padding: 10px;
}
.btn-info {
  color: #19585a !important;
  background-color: #fcf8e3 !important;
  border-color: #19585a !important;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none !important;
}
.large-modal .modal-dialog {
  width: 98%;
  margin: 10px 10px;
}
.modal-header,
.modal-footer {
  padding: 10px;
  background-color: #19585a;
  color: #fff;
}
.modal-body {
  height: 400px;
}
